@import "../base/variables";

header{
  height: 144px;
  padding: 0 5rem;

  .line{
    width: 100%;
    border: 1px solid map-get($colors, "light-gray");
  }

}

@media (max-width: 768px) {
  header{
    height: auto;
  }
}