main{
  .categories{
    margin-top: 39px;
  }

  .relatedProducts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 90px;
  }

  .partners{
    margin-top: 90px;
  }

  .footer{
    margin-top: 90px;
    width: auto;
  }
}