@import "./../../assets/styles/base/variables";

.categoriesSection{
  display: flex;
  justify-content: center;
  margin-top: 39px;

  .categoriesGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.625rem; 
    width: 1160px;
    height: auto;

    .category {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 8rem;
      height: 8rem;
      background-color: map-get($colors, "light-gray");
      box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.13);
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s;
      position: relative; 

      svg {
        width: 61px;
        height: 61px;
        color: map-get($colors, "black");
        transition: color 0.3s;
      }

      p {
        margin-top: 1.25rem;
        font-weight: map-get($font-weights, "normal");
        font-size: map-get($font-sizes, "300");
        color: map-get($colors, "text-color");
        transition: color 0.3s;
        position: absolute; 
        bottom: -2.5rem; 
        white-space: nowrap;
      }

      &:hover,
      &:focus {
        background-color: map-get($colors, "white");
        svg {
          color: map-get($colors, "purple");
        }
        p {
          color: map-get($colors, "purple");
          font-weight: map-get($font-weights, "normal");
        }
      }

      &.active {
        background-color: map-get($colors, "white");
        svg {
          color: map-get($colors, "purple");
        }
        p {
          color: map-get($colors, "purple");
          font-weight: map-get($font-weights, "semibold");
        }
      }
    }
  }
}

@media (max-width: 768px) {

  .categoriesGroup{
    display: flex;
    justify-content: space-evenly;
  }
  .category {
    width: 6rem; 
    height: 6rem;

    svg{
      width: 40px;
      height: 80px;
    }
  }
}