@import "../../../assets/styles/base/variables";

.headerTop {
  display: flex; 
  height: 32px;
  align-items: center; 
  justify-content: center;
  margin: 0;
  gap: 7.438rem;
  border: none;

  .headerTopText{
    display: flex;
    align-items: center;
    font-size: map-get($font-sizes, "200");
    color: map-get($colors, "gray");
    font-weight: map-get($font-weights, "normal");
    white-space: nowrap;

    .icons{
      margin-right: 0.5rem;
    }

    .headerTopSpan{
      color: map-get($colors, "purple");
      font-weight: map-get($font-weights, "semibold");
      margin: 0.2rem;
    }
  }
}

@media (max-width: 768px) {
  .headerTop {
    flex-direction: column; 
    gap: 0.5rem; 
    height: auto;
    
    .headerTopText{
      justify-content: center; 
      text-align: center; 
    }
  }
}