.pagination {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  pointer-events: none; 
}

.pagination button {
  pointer-events: all; 
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
}

.pagination button:first-child {
  left: -40px;
}

.pagination button:last-child {
  right: -40px; 
}
