@import "../../assets/styles/base/variables";

.productList {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  margin-top: 60px;
}

.productCard {
  img {
    width: 278.1px;
    height: 228px;
    margin-top: 12px;
  }

  .productName {
    font-size: map-get($font-sizes, "350");
    color: map-get($colors, "gray-dark");
    font-weight: map-get($font-weights, "light");
    line-height: 100%;
    margin-top: 0;  
  }

  .priceDiscounted {
    font-size: map-get($font-sizes, "500");
    color: map-get($colors, "gray-dark");
    font-weight: map-get($font-weights, "bold");
    margin-top: 12px; 

    span {
      font-size: map-get($font-sizes, "400");
      color: map-get($colors, "medium-gray");
      font-weight: map-get($font-weights, "regular");
      margin-bottom: 2px; 
    }
  }

  .priceInstallments {
    font-size: map-get($font-sizes, "200");
    color: map-get($colors, "gray-dark");
    font-weight: map-get($font-weights, "regular");
    margin-top: 2px; 
  }

  p {
    font-size: map-get($font-sizes, "200");
    color: map-get($colors, "blue");
    font-weight: map-get($font-weights, "regular");
    margin-top: 7px;  
    margin-bottom: 12px;  

  }
}
