.inputSearch{
  display: flex;
  align-items: center;
  position: relative;

  input[type="search"] {
    background-color: var(--off-white);
    height: 48px;
    width: 630px;
    border-radius: 10px;
    border: none;
    padding: 0 16px;
    font-size: 0.875rem; 
    font-weight: 500;
    line-height: 100%;
    color: var(--gray);

    &::placeholder {
      color: var(--neutral-gray);
      font-weight: 500;
      font-size: 0.875rem; 
      line-height: 100%;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
    }
  }

  .icon {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: var( --neutral-gray);
    pointer-events: none;
    background-color: transparent;
  }

  @media (max-width: 768px) {
    input[type="search"] {
      width: 100%; 

      &::placeholder{
        font-size: 0.65rem
      }
    }

    .icon {
      right: 8px; 
    }
  }
}
