@import "../../../assets/styles/base/variables";

.headerMiddle {
  height: 72px;
  border: none;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  .iconsGroup{
    display: flex;
    gap: 32px;
    justify-content: space-between;
    transition: stroke 0.3s ease; 

    button{
      border: none;
      background-color: transparent;
    }

    button:hover{
      scale: 1.1;
      cursor: pointer;
    }

    button:hover .icon path {
      stroke: map-get($colors, "purple" ); 
    }
    button:hover .iconExpand path {
      fill: map-get($colors, "purple" ); 
    }
  }
}

.headerMiddle .icons button {
  border: none;
  background-color: transparent;
}

.headerMiddle .icons button:hover {
  scale: 1.1;
  cursor: pointer;
}


@media (max-width: 768px) {
  .headerMiddle{
    flex-direction: column; 
    gap: 0.75rem; 
    height: auto;
    padding: 0.5rem;
    
    .iconsGroup {
      justify-content: center; 
      text-align: center; 
    }
  }
}
