@import "../../../assets/styles/base/variables";

nav {
  height: 40px;
  border: none;
  box-shadow: 0px 0px 16px 0px rgba(57, 48, 19, 0.12);
  padding: 5px 70px;

  ul {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: map-get($colors, "gray");
      font-size: 0.75rem;
      font-weight: map-get($font-weights, "semibold");
      text-transform: uppercase;
      text-align: center;
      transition: color 0.3s ease;
      white-space: nowrap;

      &:hover,
      &:focus {
        color: map-get($colors, "purple" ); 

        .icon path {
          stroke: map-get($colors, "purple" );
        }
      }

      &.active {
        color: map-get($colors, "purple" ); 

        .icon path {
          stroke: map-get($colors, "purple" );
        }
      }

      .icon {
        margin-right: 8px;
        transition: stroke 0.3s ease; 
      }
    }
  }
}

@media (max-width: 768px) {
  nav {
    height: auto;
    padding: 5px 20px;  
    ul {
      display: block;  
      text-align: center;  
    }

    li {
      margin-bottom: 10px; 
    }
  }
}