@import "../../base/variables";

.btn {
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  border: none;

  &.yellow {
    width:12.875rem; 
    height: 3.125rem;
    background-color: map-get($colors, "yellow" );  
    padding: 7px 49px;
    border-radius: 5px;
    color: map-get($colors, "dark-blue-purple" );
    font-weight: map-get($font-weights, "semibold");
    font-size: map-get($font-sizes, "400" );
  }

  &.blue {
    background-color: map-get($colors, "blue" );
  }

  &:hover {
    opacity: 0.9;
  }
}